html {
  background-color: rgb(191, 218, 209);
}
a {
  text-decoration: none;
  color: rgb(43, 204, 110);
}
ul {
  list-style: none;
}
.mainmenu ul {
  display: flex;
  background-color: rgba(69, 85, 90, 0.705);
  justify-content: space-between;
  font-size: 35px;
}
.maintitle {
  display: flex;
  justify-content: center;
  background-color: rgba(97, 119, 126, 0.719);
  color: rgb(36, 233, 118);
}
